a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.reviewExam {
    background-color: #323232; /* Black */
    color:white;
    transition-duration: 0.4s;
    padding: 4px 8px;
    border-radius: 4px;
    border: 2px solid #323232;
    font-size: 95%;
    margin-bottom: 4px;
}

.releaseExam {
    background-color: #323232; /* Black */
    color:white;
    transition-duration: 0.4s;
    padding: 4px 8px;
    border-radius: 4px;
    border: 2px solid #323232;
    font-size: 95%;
    margin-bottom: 4px;
    margin-top: 5px;
}

.reviewExam:hover, .releaseExam:hover {
    background-color: white; /* Green */
    color: #323232;
    cursor: pointer;
  }