/* Creates a row */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* Creates a column */
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 20px 25vw 8px 25vw;
    border: 2px solid #323232;
    border-radius: 5px;
    background-color:lightgrey;
}

/* Centers text within columns */
.center-column-text{
    text-align:center;
	font-family:Arial;
    color: black;
	font-size: 130%;
	line-height: 30px;
	padding: 10px 5px 5px;
}

.center {
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.reviewExam {
    background-color: #323232;
    color:white;
    transition-duration: 0.4s;
    padding: 6px 10px;
    border-radius: 4px;
    border: 2px solid #323232;
    font-size: 95%;
    margin-bottom: 4px;
}

.releaseExam {
    background-color: #323232;
    color:white;
    transition-duration: 0.4s;
    padding: 6px 10px;
    border-radius: 4px;
    border: 2px solid #323232;
    font-size: 95%;
    margin-bottom: 8px;
    margin-top: 5px;
}

.reviewExam:hover, .releaseExam:hover {
    background-color: white;
    color: #323232;
    cursor: pointer;
  }

  .submitButton {
    text-align:center;
    background-color: #323232;
    color:white;
    transition-duration: 0.4s;
    border-radius: 4px;
    padding: 14px 40px;
    margin-top: 20px;
    border: 2px solid #323232;
    font-size: 120%;
}

.submitButton:hover {
    background-color: white;
    color: #323232;
    cursor: pointer;
  }

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px;
    margin-left: -125px;
    background-color: #323232;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
  }

  /* The following toast/snackbar CSS is being referenced from W3Schools.
   Their transition of fading in and out was well timed and did not need to be changed.
   The only code changed in the following CSS are the colors */
  /* When a button is clicked, show the toast */
  #snackbar.show {
    visibility: visible; /* Show the toast */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  /* Animations to fade the toast in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }