a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.submitButton {
    text-align:center;
    background-color: #323232; /* Black */
    color:white;
    transition-duration: 0.4s;
    border-radius: 4px;
    padding: 14px 40px;
    border: 2px solid #323232;
    font-size: 120%;
}

.submitButton:hover {
    background-color: white;
    color: #323232;
    cursor: pointer;
  }