a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.submitButton {
    background-color: #555555; /* Black */
    color:white;
    transition-duration: 0.4s;
    border-radius: 4px;
    padding: 5px 15px;
    border: 2px solid #555555;
    font-size: 110%;
}

.submitButton:hover {
    background-color: white; /* Green */
    color: #555555;
  }

.textbox {
    height: 200px;
}

input {
    margin-top: 30px;
    padding-left: 5px;
    font-size: 120%;
}

label { 
    font-size: 120%;
    font-family: Arial;
}