/* Creates a row */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-shrink: 1;
    margin: 20px 0px 8px 20px;
    border-radius: 5px;
}

.center-header-box{
    text-align:center;
	font-family:Arial;
    color: black;
	font-size: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inputStyle {
    text-align: center;
    border-radius: 6px;
    background-color: white;
    margin: 5px;
    box-sizing: border-box;
    flex-grow: 1;
    border: 1px solid #323232;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.saveQuestion {
    text-align:center;
    background-color: #323232;
    color:white;
    transition-duration: 0.4s;
    border-radius: 4px;
    padding: 14px 40px;
    margin-top: 10px;
    border: 2px solid #323232;
    font-size: 120%;
}

.saveQuestion:hover {
    background-color: white;
    color: #323232;
    cursor: pointer;
  }

.textbox {
    height: 200px;
}

input {
    margin-top: 30px;
    padding-left: 5px;
    font-size: 120%;
}

label { 
    font-size: 120%;
    font-family: Arial;
}

.center-to-page {
    text-align: center;
    margin-top: 10vh;
}

textarea {
    width: 30vw; 
    height: 10vh;
    font-size: 130%;
    padding-left: 5px;
    resize: none;
    margin-top:5px;
}

.dropdowns {
    margin-top:30px;
	font-size:120%;
}